<html lang="ru">
<head>
    <link rel="icon" href="img/favicon.png" type="image/x-icon">
    <title>Профиль</title>

    <style>
        body {
            display: flex;
            flex-direction: column;
            min-height: 100vh; /* 100% высоты видимой области */
        }

        .container {
            flex: 1; /* Занимает всю доступную высоту */
        }

        footer {
            margin-top: auto; /* Футер будет прижат к низу видимой области */
        }
    </style>
</head>
<body>
<%- include('header') %>
<div class="container mx-auto mt-8">
    <div class="bg-white rounded-lg border-2 border-purple-600 shadow overflow-hidden">
        <div class="bg-purple-50 border-b-2 border-purple-600 px-4 py-5">
            <p class="text-2xl text-center font-semibold">Профиль пользователя</p>
        </div>
        <div>
            <dl class="sm:grid sm:grid-cols-2">
                <!-- Колонка слева -->
                <div class="px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                    <dt class="text-lg font-semibold text-gray-700">Имя:</dt>
                    <dd class="mt-1 text-lg text-gray-900 sm:mt-0 sm:col-span-2"><%= user.name %></dd>
                    <dt class="text-lg font-semibold text-gray-700">ID:</dt>
                    <dd class="mt-1 text-lg text-gray-900 sm:mt-0 sm:col-span-2"><%= user.id %></dd>
                </div>
                <!-- Колонка справа -->
                <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                    <dt class="text-lg font-semibold text-gray-700">Номер телефона:</dt>
                    <dd class="mt-1 text-lg text-gray-900 sm:mt-0 sm:col-span-2">+<%= user.phone %></dd>
                    <dt class="text-lg font-semibold text-gray-700">Дата рождения:</dt>
                    <dd class="mt-1 text-lg text-gray-900 sm:mt-0 sm:col-span-2"><%= formatDate(user.birthday) %></dd>
                </div>
            </dl>
        </div>
    </div>

    <div class="mt-6 mb-6 bg-white shadow overflow-hidden sm:rounded-lg border-radius-20px border-2 border-purple-600">
        <div class="bg-purple-50 border-b-2 border-purple-600 px-4 py-5 sm:px-6">
            <h3 class="text-2xl text-center font-semibold">История поездок</h3>
        </div>
        <div class="border-t border-gray-200">
            <table class="min-w-full divide-y divide-gray-200">
                <thead>
                <tr>
                    <th scope="col" class="px-6 py-3 text-center text-lg font-semibold tracking-wider">
                        №
                    </th>
                    <th scope="col" class="px-6 py-3 text-center text-lg font-semibold  tracking-wider">
                        Время создания
                    </th>
                    <th scope="col" class="px-6 py-3 text-center text-lg font-semibold  tracking-wider">
                        Начальный пункт
                    </th>
                    <th scope="col" class="px-6 py-3 text-center text-lg font-semibold  tracking-wider">
                        Конечный пункт
                    </th>
                    <th scope="col" class="px-6 py-3 text-center text-lg font-semibold  tracking-wider">
                        Стоимость
                    </th>
                </tr>
                </thead>
                <tbody class="bg-white divide-y divide-gray-200">
                    <% orders.forEach(function(order) { %>
                        <tr onclick="window.location='/trip/<%= order.id%>'"  class="table-row" style="cursor: pointer;">
                            <td class="px-6 py-4 whitespace-nowrap text-center font-semibold text-lg text-gray-700">
                                <span class="link_trip"><%= order.id%></span>
                            </td>
                            <td class="px-6 py-4 whitespace-nowrap text-center text-lg text-gray-900">
                                <span class="link_trip"><%= formatDate(order.time_create, true)  %></span>
                            </td>
                            <td class="px-6 py-4 whitespace-nowrap text-center text-lg text-gray-900" style="max-width: 300px; overflow: hidden; text-overflow: ellipsis;">
                                <span class="link_trip"><%= order.point_start %></span>
                            </td>
                            <td class="px-6 py-4 whitespace-nowrap text-center text-lg text-gray-900" style="max-width: 300px; overflow: hidden; text-overflow: ellipsis;">
                                <span class="link_trip"><%= order.point_final %></span>
                            </td>
                            <td class="px-6 py-4 whitespace-nowrap text-center text-lg text-gray-900">
                                <span class="link_trip"><%= order.cost %> руб.</span>
                            </td>
                        </tr>
                    <% }) %>
                </tbody>
                
            </table>
        </div>
    </div>
</div>
<%- include('footer') %>
</body>
</html>
