<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Поездка #<%= trip.id %></title>
    <link href="/styles.css" rel="stylesheet">
    <link rel="icon" href="/img/favicon.png" type="image/x-icon">
    <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU&apikey=<%= YANDEX_STATIC_API_KEY %>&suggest_apikey=<%= YANDEX_SUGGEST_API_KEY %>" type="text/javascript"></script>
    <script src="https://yandex.st/jquery/2.2.3/jquery.min.js" type="text/javascript"></script>
</head>
<body class="bg-gray-100 flex flex-col h-screen justify-between">
<%- include('header') %>

<div class="container mx-auto flex px-5 py-18">
    <div id="map" class="flex-auto w-3/5" style="height: 700px;"></div>
    <div class="content-center flex-auto ml-4 bg-purple-50 w-2/5 border-4 border-purple-600 shadow-xl " style="border-radius: 20px">
        <p class="text-center mb-4 text-5xl font-bold">Поездка #<%= trip.id %> </p>
        <p class="mx-12 mb-2 text-xl">Начальная точка:</p>
        <input type="text" id="startPoint" value="<%= trip.point_start %>" class="mb-4 text-gray-700 block mx-auto w-11/12 px-4 py-3  border-4 border-purple-600 rounded-md text-lg focus:outline-none" readonly>
        <p class="mx-12 mb-2 text-xl">Конечная точка:</p>
        <input type="text" id="endPoint" value="<%= trip.point_final %>" class="block  text-gray-700 mx-auto w-11/12 px-4 py-3 border-4 border-purple-600 rounded-md text-lg focus:outline-none" readonly>
        <div id="routeInfo" class="mx-12 my-8 text-xl">
            <!--TODO-->
            <p>Создание поездки: <%= moment(trip.time_create).format('DD.MM.YYYY HH:mm:ss') %></p>
            <p>Стоимость: <%= trip.cost %> руб.</p>
        </div>
    </div>
</div>

<%- include('footer') %>
<script>
    let startPoint = '<%= trip.point_start %>';
    let endPoint = '<%= trip.point_final %>';
    let routeData = '<%- JSON.stringify(trip.route_data) %>';
</script>
<script src="/trip.js"></script>

</body>
</html>
